# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Bai_Tap\Dai_Hoc\Hoc_Ky_6\Thuc_Tap_Ky_Thuat_Phan_Mem\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
